.steps-component {
  margin: 2rem;
  padding: 1rem
}

.cards {
  margin: 1.5rem;
  padding: 1rem
}

.tip {
  padding: 0rem 1rem 0rem 1rem;
  margin: 1rem
}

.inputs {
  padding: 1rem 1rem 0rem 1rem;
}

h1, h2,  h3, p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
