.update-info {
  padding: .5rem 1rem .5rem 1rem;
}

.update-section-header {
  padding-top: 2rem;
  margin-top: 2rem;
}

.update-button {
margin-top: 2rem;
}

.label {
  padding-top: .5rem;
  margin-top: 1rem;
}

.section-content {
  padding: 0rem 1rem 0rem 1rem;
  margin: 0rem 1rem 0rem 1rem;
}